@media (min-width: 1024px) {
  .card {
    width: 40rem !important;
    height: 25rem !important;
  }
  .name {
    font-size: 1.5rem !important;
  }
  .icon-link-row {
    font-size: 2rem !important;
  }
}
